@import 'variables.scss'; 
@import 'footer/footer.css';
@import 'newsletter/newsletter.css';
@import 'listing/listing.css';
@import 'questions/questions.css';
@import 'header/header.css';

@font-face {
    font-family:'Noto Sans';
    src: url(/src/fonts/NotoSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family:'Noto Sans';
    src: url(/src/fonts/NotoSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:'Noto Sans';
    src: url(/src/fonts/NotoSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:'Noto Sans';
    src: url(/src/fonts/NotoSans-Regular.ttf);
    font-weight: 600;
}



body {
    background-color: #E5E5E5!important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans'!important;
}
