@import '../variables.scss'; 

.newsletter {
    background: $color-primary-100;
    margin-top: 120px;
    &__wrapper {
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    &__text {
        padding: 40px 95px 46px 0px;
    }
    &__text--title {
        font-size: 25px;
        line-height: 34px;
        color: $color-primary-200;
        margin: 0;
        margin-bottom: 20px;

    }
    &__text--description {
        font-size: 15px;
        line-height: 20px;
        color: $color-primary-200;
        margin: 0;
    }
    &__form {
        display: flex;
        input {
            width: 505px;
            height: 54px;
            border: 1px solid #BDBDBD;
            border-radius: 15px;
            background-color: $color-primary-100;
            margin-right: 20px;
            color: #fff;
            padding-left: 10px;
            // &::placeholder {
            //     padding-left: 10px;
            // }
            &:focus {
                outline: none;
            }
        }
        button {
            padding: 16px 43px 18px 44px;
            background-color: $color-primary-200;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #000;
            border-radius: 15px;
            border: 1px solid transparent;
            &:hover {
                background-color: #000;
                color: #fff;
                transition: .5s;
                border: 1px solid #fff;
            }
        }
    }
    @media (max-width: 1280px) {
        &__wrapper {
            padding: 0 20px;
        }
        &__form {
            button {
                white-space: nowrap;
            }
        }

    
    }
    @media (max-width: 778px) {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__text {
            width: 100%!important;
            padding-right: 0;
        }
        &__form {
            width: 100%!important;
            padding-bottom: 20px;
            input {
                width: 100%;
            }
        }
    }
}
